body {
    background-color: #f1f1f1;
    font-family: calibri;
    color:#5f5f5f;
}

header {
  background: #5f5f5f;
    padding: 1em;
}

header a {
    color: white;
    margin: 2em;
    text-decoration:none;
    
}
h2 {
    border-left: 22px;
    border-left-color: aqua;
    

}
header nav {
     min-height: 1em;
}
header a:hover {
   background:#6d8263;
}

header a:active{
    text-decoration:underline;
}
.current{
    background:#303b44;
    text-decoration:overline;
}

footer {
    background: #4caf50;
    color: white; 
    min-height: 1em;
    text-align: center;
     padding: 1em;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 2em 20vw;
}

.post {
    border: 2px rouneded;;
    padding: 1em;
    margin-bottom: 2em;
}
.postpic{
    width: 100%;
}
.description {
    margin-bottom: 1em;
}

.title {
    margin-top: 0;
}


