body {
	font-family: "Segoe UI", Arial, sans-serif;
	background: #f1f1f1;
	color: #5f5f5f;
}

header {
	background: #9f7b6b;
	letter-spacing: 1px;
}

.pageTitle {
	padding: 20px 1em;
	color: white;
}

.headerImg {
	padding: 1em;
	height: 200px;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2em 20vw;
}

.cartMain {
	display: flex;
	flex-direction: column;
	padding: 2em 20vw;
}

.card {
	padding: 1em;
	border: 1px;
}

.bikePic {
	height: 250px;
	padding-right: 1em;
	float: left;
}

li {
	list-style-type: none;
	text-decoration: none;
}

.cartBtn {
	position: sticky;
	top: 0;
	background-color: #8a6248;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.button {
	background-color: #8a6248;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-top: 5px;
}

.buttonDisabled {
	background-color: grey;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin-top: 5px;
}

.navigation {
	text-decoration: underline;
	color: #5f5f5f;
}

footer {
	background: #9f7b6b;
	color: white;
	text-align: center;
	line-height: 50px;
}