body {
	font-family: "Segoe UI", Arial, sans-serif;
	background: #f1f1f1;
	color: #5f5f5f;
}

header {
	letter-spacing: 1px;
	background: #5f5f5f;
}

header a {
	display: inline;
	color: white;
	text-decoration: none;
	padding: 1em;
}

header a:hover {
	background: #6d8263;
	color: #4caf50;
}

header a:active {
	text-decoration: underline;
}

header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header li a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.current_page {
	background: #4caf50;
	color: white;
	text-align: center;
	text-decoration: none;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2em 20vw;
}

.post {
	padding: 1em;
	margin-bottom: 2em;
}

.post_title {
	margin-top: 0;
	padding-left: 1em;
}

.post_pic {
	width: 100%;
}

.post_description {
	margin-top: 1em;
	margin-bottom: 1em;
}

.map_link {
	color: #5f5f5f;
	text-decoration: underline;
	font-weight: bold;
}

.map_link:hover {
	color: #4caf50;
}

footer {
	background: #4caf50;
	color: white;
	text-align: center;
	line-height: 50px;
}