body {
	font-family: "Segoe UI", Arial, sans-serif;
	background: #f1f1f1;
	color: #5f5f5f;
}

header {
	letter-spacing: 1px;
	background: #9f7b6b;
	display: flex;
	flex-direction: row;
	color: white;
}

.headerImg {
	padding: 1em;
	height: 200px;
}

.main {
	display: flex;
	flex-direction: column;
	padding: 2em 20vw;
}

.card {
	padding: 1em;
	border: 1px;
}

.bikePic {
	height: 250px;
	padding-right: 1em;
	float: left
}

li {
	list-style-type: none;
	text-decoration: none;
}

.buyButton {
	background-color: #8a6248;
	border: none;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

footer {
	background: #4caf50;
	color: white;
	text-align: center;
	line-height: 50px;
}